* {
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Playpen sans', sans-serif;
    font-size: 16px;
}
/*CLASES*/
.orange{
    color: rgb(218, 186, 47);
}
.negrita{
    font-weight: 600;
    color: rgb(81, 146, 199);
}
.txt-center{
    text-align: center;
}
.cita{
    font-size: 12px;
    font-style: italic;
}
header{
    background-image: url(imagenes/img-inicio.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
nav{
    position: absolute;
    top: 0%;
    background-color: rgba(104, 187, 255, 0.137);
    width: 100%;
    height: 8vh;
    font-weight: 1000;
    font-size: 20px;  
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    height: 100%;
}
nav a{
    color: aliceblue;
}
nav a:hover{
    color: rgb(218, 186, 47);
}
#txt-inicio{
    font-family: 'Knewave';
}
#txt-inicio h1{
    font-size: 80px;
    letter-spacing: 1vw;
    padding: 0px;
}
#txt-inicio h2{
    font-size: 50px;
    letter-spacing: 1vw;
}
.subtitulo{
    font-size: 28px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: rgb(119, 91, 53);
    text-align: center;
}
/**/
#section-acerca{
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#txt-acerca{
    min-height: 70%;
    order:1;
    text-overflow: ellipsis;
}
#img-acerca{
    min-height: 30%;
    padding: 10px;
    order:2;  
    text-align: center;
}
#img-acerca img{
    width: 50%;
    max-width:100% ;
}
/**/
#section-conoce{
    min-height:100vh;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 10% 90%;
    
}
#subtitulo-conoce{
    grid-area: 1/1/2/3;
}
.subtitulo.no-margin{
    margin: 0%;
}

#nombres-conoce{
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#img-conoce{
    grid-area: 2/1/3/2;
    padding: 3px;
    display: grid;
    grid-auto-flow: row;
    gap: 30px;
}
#img-conoce div{
    min-height: 200px;
    display: flex;
}
#img-conoce div img{
    width: 80%;
    max-width: 200px;
    border-radius: 10px;
    margin: 0 auto;
}

/**/
#section-galeria{
    min-height:100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,200px);
    padding: 10px;
    gap: 10px;
}
#section-galeria div{
    overflow: hidden;
}
#section-galeria div img{
    width: 100%;
    object-fit:contain;
   border-radius: 10px;
}
/**/
#section-paseos{
    font-size: 14px;
    min-height: 100vh;
    height: 100vh;
    position: relative;
}
#section-paseos video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section-paseos #txt-paseos{
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    background-color: rgba(255, 254, 254, 0.527);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    width: 90%;
    min-height: 60%;
}
/**/
#section-enfermedades{
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#img-enfermedades img{
    width: 70%;
}
#img-enfermedades{
    text-align: center;
}
#section-enfermedades div p {
    text-align:justify;
}
footer{
    font-size: 12px;
    background-color: rgb(24, 199, 36);
    min-height: 100px;
    padding: 15px;
}
#social{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#social div{
    width: 30%;
    text-align: center;
}
#social div img{
    
    min-width: 20%;
   max-width: 30px;
}
#txt-footer{
    margin-top: 15px;
}
@media(max-width:620px){
    nav{
        display: none;
    }
}

@media(min-width:750px){
    #section-acerca{
       flex-direction: row;
    }
    .contenedor-mitad{
        width: 50%;    
    }
    #img-acerca{
        order: 1;
        display: grid;
        place-items: center;
    }
    #txt-acerca .txt-center.txt-left{
        text-align: left;
        order: 2;
    }
    /**/
    #section-conoce{
     display:inline-block;
    }
    #img-conoce{
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #img-conoce div{
       
        height: 200px;
        display: flex;
    }
    #section-conoce div img{
        width: 200px;
        border-radius: 10px;
    }
    #nombres-conoce{
        height: 30vh;
        flex-direction: row;
        justify-content: space-around;
    }
    #nombres-conoce div{
        width: 30%;
        text-align: center;
    }
    /*------------------------------------------*/
#section-galeria{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8,100px);
    gap: 10px;
}
#item1{ grid-area: 1 / 1 / 3 / 3; }
#item2{ grid-area: 3 / 1 / 5 / 3; }
#item3{ grid-area: 1 / 3 / 3 / 5; }
#item4{ grid-area: 3 / 3 / 7 / 5; }
#item5{ grid-area: 1 / 5 / 5 / 7; }
#item6{ grid-area: 1 / 7 / 3 / 9; }
#item7{ grid-area: 3 / 7 / 5 / 9; }
#item8{ grid-area: 5 / 1 / 9 / 3; }
#item9{ grid-area: 7 / 3 / 9 / 5; }
#item10{ grid-area: 5 / 5 / 7 / 7; }
#item11{ grid-area: 7 / 5 / 9 / 7; }
#item12{ grid-area: 5 / 7 / 9 / 9; }

#section-galeria div img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}
#section-galeria div #chica{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
/**/
#section-paseos{
    font-size: 16px;
    
}
/*--------------------------------*/
#section-enfermedades{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 60px auto auto auto auto;
    row-gap: 30px;
    column-gap: 15px;
}

#subtitulo-enfermedades{
    text-align: center;
    grid-area: 1/1/2/3;
}
#section-enfermedades div img{
    width: 80%;
    height: 80%;
    object-fit: fill;
    border-radius: 15px;
}
#img-enfermedades{
    display: flex;
    justify-content: center;
    
}
}

@media(max-width:400px){
    #txt-inicio h1{
        font-size: 50px;
        letter-spacing: 1vw;
        padding: 0px;
    }
    #txt-inicio h2{
        font-size: 25px;
        letter-spacing: 1vw;
    }
    /**/
    #section-conoce{
        grid-template-rows: 10% 90%;
        min-height: 160vh;      
    }
    
    #img-conoce div{
        min-height: 180px;
    }
}
@media(max-width:338px){
    #section-conoce{
        grid-template-rows: 18% 88%;
         min-height: 200vh;    
    }
    #img-conoce div{
        max-height: 250px;
    }
}