* {
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Playpen sans', sans-serif;
    font-size: 16px;
}
.orange{
    color: rgb(218, 186, 47);
}
.negrita{
    font-weight: 600;
    color: rgb(81, 146, 199);
}
header{
    background-image: url(imagenes/img-inicio.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
nav{
    position: absolute;
    top: 0%;
    background-color: rgba(104, 187, 255, 0.137);
    width: 100%;
    height: 8vh;
    font-weight: 1000;
    font-size: 20px;  
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    height: 100%;
}
nav a{
    color: aliceblue;
}
nav a:hover{
    color: rgb(218, 186, 47);
}
.txt-center{
    text-align: center;
}
#txt-inicio{
    font-family: 'Knewave';
}
#txt-inicio h1{
    font-size: 80px;
    letter-spacing: 1vw;
    padding: 0px;
}
#txt-inicio h2{
    font-size: 50px;
    letter-spacing: 1vw;
}
.subtitulo{
    font-size: 28px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: rgb(119, 91, 53);
}
/**/
#section-acerca{
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#txt-acerca{
    height: 70%;
    order:1;
}
#img-acerca{
    height: 30%;
    padding: 5px;
    order:2;
    display: grid;
}
#img-acerca img{
    
    width: 60%;
    height: 100%;
    max-height: 100%;
}









@media(max-width:450px){
    nav{
        display: none;
    }
}
